{% extends 'base.html' %} {% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Books.css' %}"> 
{% endblock css %} 

{% block title %} Story 8 {% endblock title %} 

{% block page %}
<div class='container judulSearch'>
    <h1>Search Books</h1>
    </br>
    <input id='search' class='form-control mr-3 w-40 mx-auto' type="text" placeholder="Search">
    </br>
    <button id="tekanCari" type="button">Search</button>
    </br>
    </br>
    <p> i'm sorry your books is not defined :( </p>
    <table id = "tabel" class="table table-borderless select2-container"  style="margin-top:2rem">
        <thead class="table-light text-center">
            <tr>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col">link</th>
            </tr>
        </thead>
        <tbody class="text-center" id ="table-books">
        </tbody>
    </table>
    
</div>

{% endblock page %}

{% block js %}
<script src="{% static 'js/booksjs.js' %}"></script>
{% endblock js %}
