{% extends 'base.html' %}{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock css %}


{% block title %}
Story6
{% endblock title %}

{% block page %}
    <div id = 'statusKotak' class='container'>
        </br>
        <form method='POST'>
            {% csrf_token %}
            <div class= 'questions'>
                <div>
                    <h1>Halo Apa Kabar?</h1>
                    {{ post_form.kabar }}

                </div>
                </br>
                <button id='id_kirim' class="btn btn-primary" type="submit">Kirim</button>   
            </div>
            
        </form>

        </br>
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    {{post.date}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{post.kabar}}</h5>
                </div>
            </div>
            </br>
        {% endfor %}
    </div>
{% endblock page %}
