#switch {
    padding: 30px 50px 0px 0px;
    text-align: right;
}

.layouts {
    margin: 2% 7%;
}

.accordion {
    background-color: #f54291;
    cursor: pointer;
    padding: 5px 5px;
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 50%;
    transition: 0.4s;
}

.dekskripsi {
    margin-left: 1%;
}

body img {
    padding: 0%;
    width: 40%;
}

.panel {
    width: 50%;
    background-color: #ff78ae;
    display: none;
}

.panel p {
    padding: 5px;
    font-size: 11px;
    text-align: center;
}