{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profileMain.css' %}"> 
{% endblock css %} 

{% block title %} profile {% endblock title %} {% block page %}
<div id="switch">
    <button>Switch Color </button>
</div>

<div class="row no-gutters container-fluid layouts">
    <div class="col-12 col-sm-6 col-md-8 container-fluid">
        <div class="container">
            <div class="row">
                <img src="{% static 'gambar/sabila4.jpg' %}" alt="myPic">
                <h1 class = "dekskripsi">I'm Sabila</h1>
                <p class = "dekskripsi">........</p>

            </div>
        </div>
    </div>


    <div class="col-6 col-md-4">

        <button id='actButton' class="accordion">Activity</button>
        <div id='panel1' class="panel">
            <p>Koor Danus PMB 2019 </br>
                Staff BEM Pengmas 2019 </br>
                Wakadept Sosmas FUKI 2019 </br>
                Staff Acara Wisgan 2018</br>
                VPJ Acara Wisgan 2020 </br>
            </p>
        </div>

        <button id='eduButton' class="accordion">Education</button>
        <div id="panel2" class="panel">
            <p>SDN Mekarsari 01 </br>
                SMPN 1 Tambun Selatan </br>
                SMAN 1 Tambun Selatan </br>
                Universitas Indonesia </p>
        </div>

        <button id='achievButton' class="accordion">Education</button>
        <div id="panel3" class="panel">
            <p>TOP 5 Finalist Business Plan </br>
                Doakan agar Bertambah achievmentnya </br>
                AAMMIIIINNNN </br>
            </p>
        </div>


    </div>
</div>

{% endblock page %} 

{% block js %}
<script src="{% static 'js/profileScripts.js' %}"></script>
{% endblock js %}