{% extends 'base.html' %}
{% load static %}

{% block css %}{% endblock css %}


{% block title %}  {{ page_title }} {% endblock title %}

{% block page %} 
</br>

    <div class="container" style="text-align:center;">
    <h1>Login</h1>
    <p>
        <small>Lets Try :</small></br>
        <b>Username : admin</b></br>
        <b>Password : adminbanget123</b>
    </p>
        <form method="POST" class="form-group container">
            {% csrf_token%}
            <div class="form-group fluid">
                <label for="username"  style="text-align:left;" >Username : </label>
                </br>
                <input type="text" name="username" id="username">
                </br>
            </div>
            <div class="form-group">
                <label for="password" style="text-align:left;" >Password : </label>
                </br>
                <input type="password" name="password" id="password">
                </br>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

{% endblock page %}

{% block js %}
{% endblock js %}

